{% load static %}
<!DOCTYPE.html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'webCad\static\style.css' %}">
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/cadastrar">CADASTRAR</a></li>
                <li><a href="/atualizar">ATUALIZAR</a></li>
                <li><a href="/deletar">DELETAR </></li>
                <li><a href="/pesquisar">PESQUISAR</a></li>
            </ul>
        </nav>
    </header>
</html>